<div class="container center" id="booking-show">
  <h1>Récapitulatif de votre réservation :</h1>
  <p>Nom de votre animal : <%=@booking.animal.name%></p>
  <p>Catégorie de votre animal : <%=@booking.animal.category%></p>
  <% duration = (@booking.end_date - @booking.start_date).to_i %>
  <p>Nombre de jours de réservation : <%= duration%> jours</p>
  <p>Prix total de votre réservation : <%=@booking.animal.price * duration%> $</p>
</div>
