<div class="container shadow-sm rounded banner-container">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.chicandfabric.com/wp-content/uploads/2020/08/Amazon_Navy_W0098_03-1-1.jpg);">
    <div class="container banner-content">
      <h1 class="banner-title">Bring magic back in your life!</h1>
      <%= link_to "Discover the coolest pets", animals_path, class: "btn btn-lg rounded-pill my-5 banner-btn", style:"background-color: #D0A757; padding: 15px 93px; color: #93402F;font-weight: bolder;" %>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="container mb-3" id="categories-title">
    <h1>Find your fantastic beast</h1>
  </div>
  <div class="container">
    <div class="row">
        <% @categories.each do |category|%>
          <div class="col-4", style="margin-bottom: 10px">
            <%= link_to "/animals?category=#{category}", class:"card-link" do  %>
              <div class="card-category mb-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),  url(<%= image_path("#{category}.jpg")%>); background-size: cover; background-position: top;">
                <%= category %>
              </div>
            <% end %>
          </div>
        <% end %>
    </div>
  </div>
</div>
