
<div class="search-bar row d-flex">
    <%= form_tag animals_path, method: :get do %>
  <div id="search-component1">
      <%= text_field_tag :query_category,
        params[:query_category],
        class: "form-control",
        placeholder: "Which category are you looking for ?"
      %>
  </div>
  <div id="search-component2">
    <%= text_field_tag :query_price,
      params[:query_price],
      class: "form-control",
      placeholder: "What is your maximum price ?"
    %>
  </div>
  <div>
    <button name="button" type="submit" class="btn-search">
    <i class="fas fa-search white"> Search</i>
    </button>
    <% end %>
  </div>
</div>
