
<div class="container">
  <h1>Tous les animaux</h1>
    <div class="row">
        <% @animals.each do |animal|%>
        <div class="col-4", style="margin-bottom: 10px">
          <div class="card-trip">
            <img src="https://artprojectsforkids.org/wp-content/uploads/2021/04/How-to-Draw-a-Unicorn.jpeg" class="card-img-top" alt="magic beast">
            <div class="card-trip-infos">
              <div>
                <h2> <%= animal.name %></h5>
                <p> <%=animal.description%></p>
                <p class="btn btn-primary"> <%= link_to "more information", animal_path(animal) %></p>
              </div>
              <h2 class="card-trip-pricing">£<%=animal.price%>/day</h2>
              <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered", alt="user"/>
            </div>
          </div>
        </div>
        <% end %>
    </div>
</div>
