#booking-show {
 color: black;
 text-align: center;
}

.distrib {
  margin-top: 200px;

}

.center {
  margin: auto;
  margin-top: 70px;
  width: 60%;
  padding: 10px;
  }

.block {
  display: inline;
}
