#booking-logs {
  margin-top: 200px;
  max-width: 100% !important;
  color: black;
  border: rgb(190, 188, 188) 1px solid;
  border-radius: 4px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 12px;
  box-shadow: 2px 2px 3px $primary;
  height: 450px;
  min-height: 100px;
}
