#booking-form {
  margin-top: 200px;
  max-width: 500px !important;
  color: black;
  border: $primary 1px solid;
  border-radius: 10px;
  margin: 20px;
  padding: 12px;
}

#booking-form h1 {
  font-weight: bold;
}

#booking-form p {
  font-weight: bold;
  font-size: 20px;
}
