#booking-show {
 color: black;
 p{

   font-size: 22px !important;
 }
}
#buttons-show {
  margin-top: 10px!important;
  margin-bottom: 30px!important;
}

.distrib {
  margin-top: 200px;

}

.center {
  margin: auto;
  margin-top: 70px;
  width: 60%;
  padding: 10px;
  }

.block {
  display: inline;
}
