.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: $body-font;
}

#map {
  height: calc(100vh - 210px);
  position: sticky;
  top: 84px;
  border-radius: 4px;
}
