// .navbar-lewagon {
//   justify-content: space-between;
//   background: white;
//   height: 100px;
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }

.nav-bar{
  margin-bottom: 30px;


  .first-line{
    background-color: black;
    color: $yellow;
  }

  h3{
    margin-left: 15px;
    margin-top: auto;
    margin-bottom: auto;
  }

  .second-line{
    display:flex;
    justify-content: space-around;
  }

  .tabs-underlined {
    display: flex;
    align-items: center;
  }

  .tabs-underlined .tab-underlined {
    color: black;
    padding: 8px;
    margin: 8px;
    opacity: .4;
    cursor: pointer;
    text-decoration: none;
    border-bottom: 4px solid transparent;
  }

  .tabs-underlined .tab-underlined.active {
    opacity: 1;
    border-bottom: 3px solid #555555;
  }

  .second-line{
    margin-top: 10px;
  }
  .bulle{
    margin-top: auto;
    margin-bottom: auto;
    width: 120px;
    border-radius: 10px;
    background-color: $yellow;
    color: #555555;
    text-align: center;
    height:40%;
    padding-top: auto;
    padding-bottom: auto;
    text-align: center;
  }

  .bulle a{
    text-decoration: none;
  }

  .bulle:hover{
    background-color: #D9B878;
  }

  .dropdown-item > a{
    text-decoration: none;
    }

  .tab-link{
    color:#D9B878;
  }
  .tabs {
    margin-top: auto;
    margin-bottom: auto;
  }

  #logo{
    height: 25px;
  }
}
