// .navbar-lewagon {
//   justify-content: space-between;
//   background: white;
//   height: 100px;
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }

.nav-bar{
  background-color: $gray;
  color: $yellow;

  h1{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.second-line{
  display:flex;
  justify-content: space-around;
}

.tabs-underlined {
  display: flex;
  align-items: center;
}

.tabs-underlined .tab-underlined {
  color: black;
  padding: 8px;
  margin: 8px;
  opacity: .4;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 4px solid transparent;
}

.tabs-underlined .tab-underlined.active {
  opacity: 1;
  border-bottom: 3px solid #555555;
}

.bulle{
  width: 100px;
  border-radius: 10px;
  background-color: $yellow;
  color: #555555;
  padding-top: 4px;
  padding-bottom: 4px;
  text-align: center;
}
