.search-bar {
  position: relative !important;
  height: 15px !important;
  width: 570px !important;
  margin: 0 auto;
  margin-bottom: 20px;

  #search-component1 {
    position: absolute !important;
    left: 0 !important;
    width: 400px !important;
    height: 45px !important;

    .form-control {
    border-radius: 32px !important;
    }
  }

  input::placeholder {
    font-size: 16px;
  }

  #search-component2 {
    position: absolute !important;
    right: 10px !important;
    width: 300px !important;
    height: 45px !important;
    font-weight: 40px;

    .form-control {
      border-radius: 32px !important;
      }
     }
}


.form-control {
  border-radius: 7px !important;
}
